.user-input{
    width: 100%;
    display: flex;
    flex-direction: row;

}

.user-input-field{
  border: 3px solid white;
  border-radius: 3px;
  width: 100%;
  background-color: #323131;
  font-family: "Suisse";
  font-size: 15px;
  color: white;
  padding: 10px;
  field-sizing: content;
  min-height: 3lh;
  max-height: 10lh;
}
.send-button {
    margin-left: 10px; /* Add some space between textarea and button */
}
.send-button {
    width: 130px;
    background-color: #323131;
    height: 40px;
    border: 1px solid white;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    transition: opacity 0.2s;
    color: white;
    font-family: "Suisse";
  }
  
  .send-button:hover {
    opacity: 0.5;
  }