.message-user,
.message-bot {
  background-color: #1e3e6255;
  margin-bottom: 20px;
  width: 48%;
  padding: 10px;
  display: block;
  border: 1px solid #81d4fa00;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  white-space: pre-wrap;
  word-break: normal; /* Изменено */
  overflow-wrap: break-word; /* Добавлено */
}

.message-user {
  margin-left: auto;
}

.message-bot {
  background-color: rgba(255, 255, 255, 0.182);
  margin-right: auto;
}

.message-content {
  display: flex;
  flex-direction: column;
}

.message-text {
  font-size: 14px;
  margin: 0;
}

.message-timestamp {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

.message-sender {
  font-weight: bold;
  font-size: 12px;
  margin-top: 5px;
  text-align: right;
}

.rating-container {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-left: 0;
}

.rating-text {
  margin-right: 8px;
  font-size: 16px;
}

.rating-circles {
  display: flex;
}

.rating-circle {
  font-size: 24px;
  cursor: pointer;
  margin: 0 4px;
  transition: color 0.3s;
}

.rating-circle:hover {
  color: gold;
}

.rating-result {
  align-items: center;
  font-size: 16px;
  margin-top: 8px;
}

@media (max-width: 768px) {
  .message-user,
  .message-bot {
    width: 80%;
  }

  .message-text {
    font-size: 12px;
  }

  .message-timestamp,
  .message-sender {
    font-size: 10px;
  }

  .rating-text {
    font-size: 14px;
  }

  .rating-circle {
    font-size: 20px;
  }
}