.chat-window{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    overflow-y: scroll;
    padding-bottom: 60px;
    padding-top: 55px;
}
.chat-window::-webkit-scrollbar {
    width: 0;
  }

.new-chat-button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
    background-color: transparent;
    height: 40px;
    border: 1px solid white;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    transition: opacity 0.2s;
    color: white;
    font-family: "Suisse";
  }
  
  .new-chat-button:hover {
    opacity: 0.5;
  }